@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.home{
  background-image: url('images/wallpaper.jpg');
  width: 100%;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: lemonchiffon;
  font-size: large;
}

p{
    font-weight: 25px;
}
/*navigation bar begins here*/
.menuBar{
    width: 100%;
    margin:auto;
    padding-bottom: 60px;
}

nav{
    height: 100px;
    line-height: 100px;
}

nav .menuBar h2{
  font-size: 2rem;
  font-weight: 50px;
  letter-spacing: 1.5px;
}

nav img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 10px;
}

nav h2{
    float:left;
    display: inline-block;
}


nav ul{
    float: center;
}

nav ul li{
    display: inline-block;
    margin: 0 40px 0 40px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
nav ul li a{
  text-decoration: none;
  color: lemonchiffon;
  font-size: 18px;
}

nav ul li :hover{
  color:lightsalmon;
}

/*navigation bar for big tablets*/
@media screen and (min-width: 1000px){
  nav ul li{
    margin: 0 20px 0 20px;
  }
}

/*button to hide navigation bar in phones and small tablets*/
.mobileNavBtn{
  color:sandybrown;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
}

#mobileNav{
  display: none;
}

/*navigation bar for mobile phones*/
@media screen and (max-width:950px) and (min-width:270px){
  nav{
    padding:0px 50px;
  }
  .mobileNavBtn{
    display: block;
  }
  nav .menuBar h2{
    font-size: 25px;
    float: left;
  }
  nav ul{
    width: 100%;
    height: 60vh;
    background-color:brown;
    position: fixed;
    right: -100%;
    transition: 0.3s ease;
    top: 75px;
    text-align: center;
  }
  nav ul li{
    display: block;
    margin: 50px 0px;
    line-height: 20px;
  }
  #mobileNav:checked ~ ul{
    left:0;
  }
  nav img{
    display: none;
}
  .search{

  }
}


/*search bar*/
.search{
  width: 100%;
  float: right;
}
.searchbox{
  color: white;
  width: 260px;
  height: 40px;
  background: rgba(255,50,25);
  border: 1px solid black;
  border-right: none;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
}
.searchbox :hover{
  background: rgba(0,0,0,0.4);
}

/* movie dropdown list */
.dropMovie{
  width:260px;
  background: rgba(255,50,25);
}
.dropMovie a{
  font-size: 18px;
  text-decoration: none;
  color: lightyellow;
}
.dropMovie a:hover{
  color: black;
}
/*center movie in home description*/
.homeMovie{
  width:80%;
  margin: auto;
}

.homeMovie .homeMovie-image{
  width:40%;
  float: left;
}   

.homeMovie-box{
  width: 80%;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.homeMovie-box .homeMovie-image img{
  max-width: 100%;
  height: auto;
}
.homeMovie-content form button{
  color:white;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.homeMovie-content form button:hover{
  color:wheat;
  border-color: chocolate;
  cursor:pointer;
}

.homeMovie-content ul li{
  margin: 0 20px 0 0;
  display: inline-block;
}


.star i{
  color:orange;
  font-size: 18px;
  padding: 0 3px;
}

.homeGenre{
  font-size: 17px;
  border-radius: 5px; 
  background: none;
}

/*mobile phone view of the center movie in home description*/
@media screen and (max-width:950px){
  .home{
    background-color: darkred;
  }
  .homeMovie .homeMovie-image{
    width:100%;
  }
  .homeMovie-content ul li{
    display: block;
  }
}

/*full movie list*/
.movie{
  width: 90%;
  height: 100vh;
}

.movie-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}

.movie-box p{
  font-size: 25px;
  padding-top: 20px;
}

.movie-box .trending{
  width: 100%;
  margin-top: 20px;
}

.movie-box .trending h2{
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color:lemonchiffon;
}
.movie-box .new-release{
  width: 100%;
  margin-top: 20px;
}

.movie-box .new-release h2{
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color:lemonchiffon;
}

.movie-image{
  display: flex;
  width: 210px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 4px rgb(0,0,0,25%);
  margin: 3px;
  background-color: #652a0e;
}

.inner-movie-image{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-movie-image a img{
  width: 100%;
  height: 240px;
}

.inner-movie-image a img:hover{
  cursor: pointer;
}

.description{
  text-align: center;
  background-color: #652a0e;
}
.description h4{
  font-size: 17px;
  font-weight: 1.9rem;
  letter-spacing: 1px;
  color: lemonchiffon;
}

/* nest hub screen */
@media screen and (max-width:1300px) and (min-width:550px){
   .movie{
    width: 90%;
    height: 100vh;
  }
  
  .movie-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .movie-image{
    display: flex;
    width: 240px;
  }
  
  .movie-image a img{
    height: 250px;
    width: 240px;
  }
  .inner-movie-image{
    display: block;
    width: 240px;
  }

  

}

/*mobile phone screen for movie list*/
@media screen and (max-width:549px) and (min-width:460px){
  .movie-image{
    display: flex;
    width: 230px;
  }
  
  .movie-image a img{
    height: 280px;
    width: 230px;
  }
  .inner-movie-image{
    display: block;
    width: 230px;
  }
}
/* mobile phone screen */
@media screen and (max-width:450px){
  .movie{
    align-items: center;
    justify-content: center;
  }
  .movie-box{
    display: block;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(100% - 15vw);
  }

  .movie-image{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .movie-image a img{
    display: block;
    height: 270px;
    width: 100%;
  }
  .inner-movie-image{
    display: block;
    /*width: calc(100% - 10vw);*/
    width: 100%;
  }
}

/*social media icons at the bottom of the home page*/
.social-icons i{
  color: lemonchiffon;
  font-size: 30px;
  padding: 7px;
  background-color: maroon;
}

.social-icons i:hover{
  color:brown;
  font-size: 30px;
  padding: 7px;
  background-color:burlywood;
}




/***

here begins the css for individual movie pages

***/



.moviePage{
  background: #353839;
  color: lemonchiffon;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}
.logo img{
  height: 50px;
  width: 50px;
}
.logo h2{
  color: lemonchiffon;
}
/*horizontal line in the page diving sections*/
.lineBox{
  padding-top: 10px;
  padding-bottom: 10px;
}
.theLine{
  border-bottom: 2px solid grey;
  display: block;
  width: 100%;
}
.single{
  float:none;
}
.singleMovie{
  width:100%;
  height: 1000px;
  /**display: flex;**/
}
.singleMovieImage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleMovieImage img{
  width: 400px;
  height: 450px;
}
.singleMovieImage video{
  width: 800px;
  height: 450px;
  
}
.genre{
  font-size: 17px;
  border-radius: 20px; 
  padding:  5px;
  background: none;
  color: lemonchiffon;
  border-color: gray;
  border-width: 3px;
}
.singleMovieContentBox{
  display: flex;
  flex-direction: row;
}

.singleMovieContent{
  width: 60%;
}
.singleMovieContent p{
  font-size: 18px;
}
.reserveBox{
  justify-content: right;
  /*float: right;*/
}
.reserve{
  background-color:goldenrod;
  font-size: 18px;
  padding: 8px 30px 8px 30px;
}
.reserve :hover{
  color: rgba(255,50,25,0.5);
  padding: 10px 10px 10px 10px;
}
.reserveBox p{
  font-size: 18px;
}


.singleMovieBox{
  width: 100%;
  float: none;
}
.singleMovieImagesBox{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: auto;
  min-height: 90vh;
  float: left;
}
.singleMovieImages{
  display: flex;
  width: 270px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 8px 0 8px;
}
.innerSingleMovieImages{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerSingleMovieImages img{
  width: 270px;
  height: auto;
}
.cast{
  width: 30%;
  float: right;
}
.cast li,p,a{
  font-size: 18px;
}
.cast a{
  text-decoration: none;
  color: lemonchiffon;
}
.award-reviews a{
  text-decoration: none;
  color: lemonchiffon;
}
.award-reviews a:hover{
  color: red;
  font-size: 20px;
}
.cast ul li{
  list-style-type: none;
}
.cast ul li a:hover{
  color: red;
  font-size: 18px;
}

/*link to go back to home page*/
.backHome a{
  font-size: 18px;
  text-decoration: none;
  color: aqua;
}
.backHome a:hover{
  font-size: 20px;
  color: brown;
}

/*mobile phone view for individual movie page*/
@media screen and (max-width:450px){
  .singleMovie{
    width: 94%;
    height: 100vh;
    margin-bottom:850px;
  }
  .singleMovieImage{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .singleMovieImage img{
    width: calc(100% - 10vw);
    height: 290px;
  }
  .singleMovieImage video{
    width: calc(100% - 10vw);
    height: 290px;
    
  }
  .singleMovieContentBox{
    display: block;
    flex-direction: column;
    float: none;
  }
  .singleMovieContent{
    width: 100%;
    float: none;
  }
  .reserveBox{
    justify-content: center;
  }
  .reserve{
    padding: 7px 26px 7px 26px;
  }
  .singleMovieBox{
    width: 100%;
    float: none;
  }
  .cast{
    width: 100%;
    float: none;
  }

  .singleMovieImagesBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  .singleMovieImages{
    display: flex;
    width: 270px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 8px 0 8px;
  }
  .innerSingleMovieImages{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerSingleMovieImages img{
    width: 270px;
    height: auto;
  }
  
}
/*nest hub view of individual movie page*/
@media screen and (max-width:1100px) and (min-width:801px){
  .singleMovie{
    margin-bottom: 70px;
  }
}
  
/*tablet view of individual movie page*/
@media screen and (max-width:800px) and (min-width:500px){
  .singleMovie{
   width: 90%;
   height: 100vh;
   margin-bottom: 0;
 }
 .singleMovieImage{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: auto;
 }
 .singleMovieImage img{
  width: 280px;
  height: 260px;
}
.singleMovieImage video{
  width: 400px;
  height: 290px; 
}
 .singleMovieImages{
   display: flex;
   width: 250px;
   margin: 0 2px 0 2px;
 }
 
 .innerSingleMovieImages img{
   height: 280px;
   width: 240px;
 }
 .innerSingleMovieImages{
   display: block;
   width: 250px;
 }
}